<?xml version="1.0" encoding="UTF-8"?>
<MenuEntries>
	<MenuEntry>
		<nameKey>KEY_MAINTENANCE</nameKey>
		<url></url>
		<childs>
			<MenuEntry>
				<nameKey>KEY_DATASOURCES</nameKey>
				<url>/maintenance/DataSources</url>
			</MenuEntry>
			<MenuEntry>
				<nameKey>KEY_MANAGE</nameKey>
				<url></url>
			</MenuEntry>
			<MenuEntry>
				<nameKey>KEY_USERS</nameKey>
				<url>/admin/Users</url>
			</MenuEntry>
		</childs>
	</MenuEntry>
</MenuEntries>